@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Inter", sans-serif;
}

body{
    background: linear-gradient(90deg,#8fb3e8,#dfe9f5);
}

.container{
    margin: 0 auto;
}

.header{
    width: 100%;
    height: 100px;
    background-color: rgb(46, 80, 126);
    align-content: center;
}

.nav{
    background: linear-gradient(#3c5f8a,#2f4f77);
    color: #fff;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
}

.nav-h1{
    text-align: center;
    font-size: 45px;
    color: #fff;
}

.inputs{
    background: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 6px;
}

.film{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.film label{
    width: 150px;
    font-weight: bold;
}

.film input, 
select{
    width: 300px;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.addFilm{
    background: linear-gradient(#59a767,#3e8f4f);
    color:#fff;
    border: none;
    padding: 9px 18px;
    border-radius: 4px;
    cursor: pointer;
}

.reytingInput{
    width: 130px;
    margin-top: 30px;
}

.spisok{
    background: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 6px;
}

.spisok h2{
    margin-bottom: 15px;
}

.info{
    display: flex;
    gap: 12px;
    align-items: center;
}


.info div{
    font-size: 14px;
}

.name{
    font-weight: bold;
    color: #3867b8;
}

.zvezda{
    color: green;
    font-size: 22px;
    margin-right: 15px;
}

.delet{
    background: linear-gradient(#5a7db1,#3f5f8a);
    color: #fff;
    border: none;
    padding: 8px 14px;
    border-radius: 4px;
    cursor: pointer;
}

.kolichestvo{
    margin-top: 15px;
    font-weight: bold;
}

.spisok-ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 1px solid #e0e0e0;
}

.mode{
    margin-left: 20px;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    color: #2f4f77;
    font-size: 16px;
}

.dark{
    background: linear-gradient(90deg, #1f2933,#111827);
}

.dark .inputs {
  background-color: #111827;
  color: #e5e7eb;
}

.dark input,
.dark select {
  background-color: #1f2933;
  color: #ffffff;
  border: 1px solid #374151;
}

.dark input::placeholder {
  color: #9ca3af;
}

.dark .addFilm {
  background: linear-gradient(#374151, #1f2933);
}

.dark .spisok {
  background-color: #111827;
  color: #e5e7eb;
}

.dark .mode {
  background-color: #111827;
  color: #e5e7eb;
  border: 1px solid #374151;
}

.dark .header{
    background: linear-gradient(#0f172a,#020617);
}

.dark .nav{
    background: linear-gradient(#121a2e,#0c1331);
}

.dark .delet {
  background: linear-gradient(#374151, #1f2933);
  color: #e5e7eb;
  border: 1px solid #4b5563;
}